/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Campton Light;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.landing-page {
  min-height: 100vh;
}

.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homepage-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.logo {
  max-width: 100px;
  height: auto;
  align-self: center;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

li {
  font-size: 1rem;
  padding: 5px;
}

a {
  font-size: 1rem;
  padding: 5px;
}

a:hover {
  font-size: 1.25rem;
}

.social {
  flex-direction: row;
  font-size: 2rem;
  margin: 0 auto;
}
.social i {
  padding: 10px;
}


.c-animation {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.spin {
  -webkit-animation:spin 2s linear 2;
  -moz-animation:spin 2s linear 2;
  animation:spin 2s linear 2;
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 1500ms ease-in;
}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
